@import "tailwindcss";

.otp-box{
    width: 30px;
    margin-right: 5px;
    text-align: center;
    box-shadow: 1px 1px 1px 1px teal;
    border: none;

}

.otp-validate-message.success{
    border: 1px solid greenyellow;
    color: green;
}
.otp-validate-message.fail{
    border: 1px solid #e00d0d;
    color: red;
}